.content .y-row{
	background: #fff;
	margin-top: 20px;
}
.nav-list{
	border-bottom: 1px solid #ddd;
	height: 64px;
	box-sizing: border-box;
	padding: 0 20px;
}
.nav-list li{
	margin-right: 50px;
	float: left;
	height: 64px;
	border-bottom: 2px solid transparent;
	line-height: 64px;
	color: #999;
	box-sizing: border-box;
	font-size: 18px;
	cursor: pointer;
	position: relative;
}
.nav-list li.on{
	border-bottom: 2px solid #333;
	color: #333;
}
.nav-list li.active:after{
	content: '';
	position: absolute;
	right: -8px;
	top: 16px;
	z-index: 2;
	width: 8px;
	height: 8px;
	background: #FF6700;
	border-radius: 50%;
}
.wrapper{
	padding: 25px 20px 0;
}
.wrapper .item{
	display: none;
}
.wrapper .item1{
	display: block;
}
.wrapper ul li {
	padding-top: 25px;
	border-top: 1px solid #ddd;
	font-size: 0;
	padding-bottom: 25px;
}

.wrapper ul li:first-child {
	border: 0;
}


.wrapper ul li .img1{
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 25px;
}
.wrapper ul li .li-con{
	width: 985px;
	display: inline-block;
}
.wrapper ul li .li-con .name-box{
	margin-bottom: 18px;
}
.wrapper ul li .li-con .name{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.wrapper ul li .li-con .date{
	font-size: 14px;
	color: #999;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.wrapper ul li .li-con p{
	font-size: 14px;
	color: #555;
	line-height: 25px;
}
.wrapper ul li .evaluate-btn{
	display: inline-block;
	vertical-align: top;
}

.wrapper .item ul li .txt{
	font-size: 14px;
	color: #555;
	line-height: 24px;
	margin-bottom: 20px;
}
.wrapper .item ul li .li-desc{
	padding: 15px;
	border-radius: 3px;
	background: #f3f3f3;
	display: block;
}
.wrapper .item ul li .li-desc img{
	display: inline-block;
	height: 90px;
	width: 90px;
	border-radius: 3px;
	margin-right: 20px;
}
.wrapper .item ul li .li-desc .li-desc-con{
	width: 100%;
}
.wrapper .item ul li .li-desc img + .li-desc-con{
	display: inline-block;
	vertical-align: top;
	width: 840px;
}
.wrapper .item ul li .li-desc .li-desc-con .title{
	font-size: 14px;
	color: #555;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 18px;
}
.wrapper .item ul li .li-desc .li-desc-con p{
	font-size: 12px;
	color: #999;
	line-height: 25px;
}
.wrapper .item ul li .evaluate{
	display: none;
}
.wrapper .item ul li .evaluate input{
	width: 100%;
	height: 40px;
	line-height: 38px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 0 10px;
	font-size: 14px;
	color: #555;
	display: block;
	margin-bottom: 16px;
}
.wrapper .item ul li .evaluate .sure-btn{
	margin-bottom: 16px;
}
.wrapper .item ul li .mask{
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 18px;
	border-radius: 3px;
	text-align: center;
	background: #bbb;
	color: #fff;
	font-size: 11px;
	transform: scale(.92);
	-webkit-transform: scale(.92);
	-ms-transform: scale(.92);
	-moz-transform: scale(.92);
	-o-transform: scale(.92);
}
.wrapper .item ul li .mask.on{
	background: #FF6700;
}
.wrapper .item ul li .open{
	float: right;
	font-size: 13px;
	color: #666;
	margin-top: 10px;
	cursor: pointer;
}







