/*空*/
.empty-wrapper{
	margin-top: 16%;
	margin-bottom: 26%;
	text-align: center;
}
.empty-wrapper img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}
.empty-wrapper p{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #999;
}














